<footer class="c-footer" role="contentinfo" data-module="SocialFooter">
    <div class="o-section o-wrap o-wrap--x-large">
        <div class="c-footer__planner">
            <h3 class="c-footer__heading">Got a project for us?</h3>

            <a href="/planner" class="c-button c-button--primary-neutral" data-module="SvgButton">
				<span class="c-button__morph-shape" data-morph-active="M282.5,62.5c0,27.891-17.583,50.176-46.5,53.5c-21.75,2.5-64.355,4-86,4c-21.645,0-65-1-86-4c-29.408-4.201-46.5-25.609-46.5-53.5l0,0C17.5,34.609,36.594,13.177,64,8c22.5-4.25,64.355-4,86-4c21.645,0,64.669,1.31,86,4C263.75,11.5,282.5,34.609,282.5,62.5L282.5,62.5z">
					<svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
						<path d="M286.5,62.5c0,27.891-22.609,50.5-50.5,50.5c-21.5,0-64.355,0-86,0c-21.645,0-64.5,0-86,0c-27.891,0-50.5-22.609-50.5-50.5l0,0C13.5,34.609,36.109,12,64,12c21.5,0,64.355,0,86,0c21.645,0,64.5,0,86,0C263.891,12,286.5,34.609,286.5,62.5L286.5,62.5z"/>
					</svg>
				</span>
				<span class="c-button__text">
					planner
					<svg class="u-icon u-icon--arrow-right">
						<use xlink:href="#icon--arrow-right"></use>
					</svg>
				</span>
			</a>
        </div>

        <ul class="c-footer__social">
            <li class="c-footer__social__item">
                <a href="https://dribbble.com/{{ site.dribbble }}" class="c-footer__social__link c-button--primary-neutral js-social-link-dribbble" target="_blank">
                    <svg class="u-icon u-icon--dribbble">
                        <use xlink:href="#icon--dribbble"></use>
                    </svg>
                    <span class="u-hide-text">dribbble</span>
                </a>
            </li>
            <li class="c-footer__social__item">
                <a href="https://twitter.com/{{ site.twitter }}" class="c-footer__social__link c-button--primary-neutral js-social-link-twitter" target="_blank">
                    <svg class="u-icon u-icon--twitter">
                        <use xlink:href="#icon--twitter"></use>
                    </svg>
                    <span class="u-hide-text">twitter</span>
                </a>
            </li>
            <li class="c-footer__social__item">
                <a href="https://instagram.com/{{ site.instagram }}" class="c-footer__social__link c-button--primary-neutral js-social-link-instagram" target="_blank">
                    <svg class="u-icon u-icon--instagram">
                        <use xlink:href="#icon--instagram"></use>
                    </svg>
                    <span class="u-hide-text">{{ site.instagram }}</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
