---
title: OnlineAdSpy Case Study
class: s-case-study-adspy
headerData: true
layout: master
---

<header class="c-hero c-hero--neutral c-hero--two-col">
	<div class="c-hero__row o-section o-wrap o-wrap--x-large">
		<div class="c-hero__content">
			<h1 class="c-hero__heading u-mega">OnlineAdSpy</h1>
			<strong class="c-hero__meta u-intro">Branding, Illustration, Website</strong>

			<div class="c-hero__description u-intro">
				<p>Stop searching for the best technology companies in the Dallas/Fort Worth area, when you sign up we’ll send you our comprehensive list.</p>
			</div>
		</div>

		<figure class="c-hero__figure">
			<img src="/assets/img/case-studies/adspy/ninja.svg" alt="">
		</figure>
	</div>
</header>

<div class="c-case-study">
	<ol class="c-case-study__sections">
        <li class="c-case-study__section" id="brand" data-section="brand">
            {% include case-studies/adspy/brand/intro.html %}

            <ol class="c-case-study__sections c-case-study__sections__child">
                <li class="c-case-study__section c-case-study__section__child" id="style-tiles" data-section="style-tiles" data-module="Inview" data-pixels-inview="500">
            		{% include case-studies/adspy/brand/style-tiles.html %}
                </li>

                <li class="c-case-study__section c-case-study__section__child" id="logo" data-section="logo">
                    {% include case-studies/adspy/brand/logo.html %}
                </li>

                <li class="c-case-study__section c-case-study__section__child" id="colours" data-section="colours" data-module="Inview" data-pixels-inview="300">
                    {% include case-studies/adspy/brand/colours.html %}
                </li>

                <li class="c-case-study__section c-case-study__section__child" id="typography" data-section="typography">
                    {% include case-studies/adspy/brand/typography.html %}
                </li>
            </ol>
        </li>

        <li class="c-case-study__section" id="illustrations" data-section="illustrations">
        	{% include case-studies/adspy/illustration/intro.html %}

            <ol class="c-case-study__sections c-case-study__sections__child">
                <li class="c-case-study__section c-case-study__section__child" id="admachine" data-section="admachine">
                    {% include case-studies/adspy/illustration/admachine.html %}
                </li>

                <li class="c-case-study__section c-case-study__section__child" id="extras" data-section="extras" data-module="Inview" data-pixels-inview="500">
                    {% include case-studies/adspy/illustration/extras.html %}
                </li>
            </ol>
        </li>

        <li class="c-case-study__section" id="interface" data-sectio="interface">


        	<ol class="c-case-study__sections c-case-study__sections__child">
        		<li class="c-case-study__section c-case-study__section__child" id="desktop" data-sectio="desktop">

        		</li>

        		<li class="c-case-study__section c-case-study__section__child" id="tablet" data-sectio="tablet">

        		</li>

        		<li class="c-case-study__section c-case-study__section__child" id="mobile" data-sectio="mobile">

        		</li>
        	</ol>
        </li>
    </ol>
</div>
