/* ===========================================================

	# Case Study - Card

=========================================================== */

.c-case-study-card__link {
	background-position: left -15rem center;
	background-repeat: no-repeat;
	background-size: 65%;
	display: block;
	transition: background-color $speed ease,
				transform $speed ease;

	&:active {
		transform: $active-scale-small;
	}
}

.c-case-study-card__header {
	max-width: 80rem;

	& + .c-case-study-card__ctas {
		margin-top: $padding-small;
	}
}

.c-case-study-card__heading {
	color: $white;
	padding-bottom: .2em;
}

.c-case-study-card__services {
	color: $text-colour;
	display: inline-block;

	& + .c-case-study-card__description {
		margin-top: $line-height / 2;
	}
}

.c-case-study-card__description {
	color: $white;
	color: rgba( $white, .85 );
}

.c-case-study-card__button {
	color: $white;
}

@include respond-min( $mq-large ) {
	.c-case-study-card__header + .c-case-study-card__ctas {
		margin-top: $padding-small;
	}
}
