/* ===========================================================

	# CASE STUDY - CARD

=========================================================== */

.c-case-study-card--geckotree {
	.c-case-study-card__link {
		background-color: rgba( $geckotree-pri, .2 );

		&:hover {
			background-color: rgba( $geckotree-pri, .3 );
		}

		.no-svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.svg' );
		}
	}

	.c-case-study-card__services {
		color: $geckotree-pri
	}

	.c-case-study-card__button {
		background: $geckotree-pri;
	}
}

.c-case-study-card--adspy {
	.c-case-study-card__link {
		background-color: rgba( $adspy-pri, .2 );

		&:hover {
			background-color: rgba( $adspy-pri, .25 );
		}

		.no-svg & {
			background-image: url( '#{$images}/case-studies/adspy/adspy-logo.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/adspy/adspy-logo.svg' );
		}
	}

	.c-case-study-card__services {
		color: $adspy-pri
	}

	.c-case-study-card__button {
		background: $adspy-pri;
	}
}

.c-case-study-card--abagri {
	.c-case-study-card__link {
		background-color: rgba( $abagri-pri, .2 );

		&:hover {
			background-color: rgba( $abagri-pri, .3 );
		}

		.no-svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.svg' );
		}
	}

	.c-case-study-card__services {
		color: $abagri-pri
	}

	.c-case-study-card__button {
		background: $abagri-pri;
	}
}

.c-case-study-card--hmv {
	.c-case-study-card__link {
		background-color: rgba( $hmv-pri, .2 );

		&:hover {
			background-color: rgba( $hmv-pri, .25 );
		}

		.no-svg & {
			background-image: url( '#{$images}/case-studies/adspy/adspy-logo.png' );
		}

		.svg & {
			background-image: url( '#{$images}/case-studies/adspy/adspy-logo.svg' );
		}
	}

	.c-case-study-card__services {
		color: $hmv-pri;
	}

	.c-case-study-card__button {
		background: $hmv-pri;
	}
}

.c-case-study-card__link {
	background-position: bottom -7rem right -12rem;
	background-repeat: no-repeat;
	display: block;
	padding: $padding-small $padding-small / 2;
	transition: background-color $speed ease,
				transform $speed ease;

	&:active {
		transform: $active-scale-small;
	}
}

.c-case-study-card__header {
	margin-bottom: $padding-small;
	max-width: 54rem;
}

.c-case-study-card__heading {
	color: $heading-colour;
}

.c-case-study-card__services {
	display: inline-block;
	margin-bottom: $line-height / 2;
}

.c-case-study-card__description {
	color: $heading-colour;
}

.c-case-study-card__button {
	color: $white;
}

@include respond-min( $mq-small ) {
	.c-case-study-card__link {
		padding: $padding-small;
	}
}

@include respond-max( $mq-small ) {
	.c-case-study-card-row {
		margin-left: -$padding-small / 2;
		margin-right: -$padding-small / 2;
	}
}

@include respond-min-max( $mq-small, $mq-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small;
		margin-right: -$padding-small;
	}
}

@include respond-max( $mq-large ) {
	.c-case-study-card-col {
		& + & {
			margin-top: .1rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-case-study-card-row {
		@include clearfix;
		margin-left: -.1rem;
	}

	.c-case-study-card-col {
		float: left;
		padding-left: .1rem;
		width: 50%;

		&:nth-child( n+3 ) {
			margin-top: .1rem;
		}
	}

	.c-case-study-card__link {
		padding: $padding-medium $padding-small;
	}

	.c-case-study-card__header {
		margin-bottom: $padding-small;
	}

	.cssanimations {
		.c-case-study-card {
			opacity: 0;
		}

		.is-inview .c-case-study-card {
			animation: fadeInUp $speed * 2 cubic-bezier( 0.165, 0.84, 0.44, 1 ) both;
		}

		@for $i from 1 through 4 {
  			.c-case-study-card-row > :nth-child( #{$i} ) {
  				.c-case-study-card {
  					animation-delay: #{($i * .2)}s;
   				}
  			}
		}
	}
}

@include respond-min( $mq-x-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small / 2;
	}

	.c-case-study-card-col {
		padding-left: $padding-small / 2;

		&:nth-child( n+3 ) {
			margin-top: $padding-small / 2;
		}
	}
}

@include respond-min-max( $mq-large, $mq-x-large ) {
	.c-case-study-card-row {
		margin-left: -$padding-small - .1rem;
		margin-right: -$padding-small;
	}
}
