/* ===========================================================

	# Page

=========================================================== */

html {
	min-height: 100%;
}

.o-page {
	background: $background-colour;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-top: 7rem;
}

.o-page__content {
	background: $light-1;
	flex: 1 1 auto;
	width: 100%;
}

@include respond-min( $mq-large ) {
	.o-page {
		padding-top: 8.8rem;
	}
}
