/* ===========================================================

	# Section

=========================================================== */

.o-section {
	padding-bottom: $padding-small;
	padding-top: $padding-small;
}

.o-section__header {
	margin-bottom: $padding-small / 2;
}

.o-section__header__heading {
	padding-bottom: 0;
}

.o-section--neutral {
	padding-bottom: $padding-small * 1.5;
	padding-top: $padding-small * 1.5;
}

.o-section__header--center {
	text-align: center;
}

@include respond-min( $mq-small ) {
	.o-section {
		padding-bottom: $padding-medium;
		padding-top: $padding-medium;
	}

	.o-section__header {
		margin-bottom: $padding-medium / 2;
	}

	.o-section--neutral {
		padding-bottom: $padding-medium * 1.5;
		padding-top: $padding-medium * 1.5;
	}
}

@include respond-min( $mq-x-large ) {
	.o-section {
		padding-bottom: $padding-large;
		padding-top: $padding-large;
	}

	.o-section__header {
		margin-bottom: $padding-large / 2;
	}

	.o-section--neutral {
		padding-bottom: $padding-large * 1.5;
		padding-top: $padding-large * 1.5;
	}
}
