/* ===========================================================

	# Hero - Base

=========================================================== */

.c-hero {
	width: 100%;
}

.c-hero__content {
	max-width: 80rem;
}

.c-hero__meta {
	display: block;
	margin-bottom: $line-height;
	margin-top: -$line-height / 2;
}

.c-hero__cta {
	margin-top: $line-height * 2;
}
