/* ===========================================================

	# Variables

=========================================================== */

$old-ie: 	false!default;
$base-dir: 	'/assets';
$fonts: 	'#{$base-dir}/fonts';
$images: 	'#{$base-dir}/img';


/* ===========================================================

	# Colours

=========================================================== */

$light-1:			#F7F7F7;
$light-2:			#EFEFEF; // @todo update?
$light-3:			#DEDEDE; // @todo update?
$med-1:				#94A5AC;
$med-2:				#858B92; // @todo update?
$dark-2:			#383838;
$dark-3:			#546e7a;

$pri-light:			#DDF0E3;


$white: 			#FFFFFF;
$black: 			#000000;

// $light-1:			#FAF8F5;
$light-2:			#F2F0ED;
$light-3:			#EDEBE6;
$dark-1:			#2D2D2D;

$green-1:			#57B275;
$blue-1:			#07ABCA;
$purple-1:			#8682d7;
$orange-1:			#F49E39;
$pink-1:			#F05D71;
$red-1:				#EC4E50;

$pri:				$green-1;
$sec:				$pink-1;
$ter:				#F0C83A;

$twitter: 			#55ACEE;
$dribbble: 			#EA4C89;
$instagram: 		#3F729B;



/* ===========================================================

	# Case Studies

=========================================================== */

$adspy-pri:			#139DE5;
$adspy-sec:			#6DBD4C;
$adspy-ter:			#F5C022;
$adspy-pri-light:	#D3ECF9;



/* ===========================================================

	# Base Values

=========================================================== */

$font-family:			'Gotham Rounded', Arial, Helvetica, Geneva, sans-serif;
$font-size-body-small:	1.8em;
$font-size-body-large:	2.2em;
$font-size-small:		1.8rem;
$font-size-large:		2.2rem;
$line-height:			1.4em;
$type-scale-small:		1.150;
$type-scale-medium:		1.175;
$type-scale-large:		1.200;

$heading-colour:		$dark-1;
$text-colour:			$dark-2;
$background-colour:		$light-1;
$border-colour:			$light-3;
$link-colour:			$pri;
$link-colour-hover:		$sec;
$placeholder-colour:	$light-3;
$highlight-colour:		lighten( $pri, 20 );

$error:					$red-1;
$success:				$green-1;
$disabled:				$light-3;

$padding-small:			4rem;
$padding-medium:		6rem;
$padding-large:			8rem;
$padding-x-large:		16rem;

$border-width: 			.2rem;
$border-radius: 		.4rem;
$speed: 				.3s;

$light:					100;
$regular:				400;
$bold:					600;

$wrap-small:			75rem;
$wrap-medium:			92rem;
$wrap-large:			108rem;
$wrap-x-large:			140rem;

$active-scale-small:	scale( .98 );
$active-scale-medium:	scale( .95 );

$timing-function-1:		cubic-bezier( .2, 1, .3, 1 );
$timing-function-2:		cubic-bezier( 0.165, 0.84, 0.44, 1 );
$timing-function-3:		cubic-bezier( .28, .5, .79, .41 );

$z-header:				10;
$z-button-text:			5;



/* ===========================================================

	# Media Queries

=========================================================== */

$mq-small: 				500px;
$mq-medium: 			768px;
$mq-large: 				1000px;
$mq-x-large: 			1280px;
$mq-xx-large: 			1500px;
$mq-animate:			$mq-large;
