/* ===========================================================

	# Article

=========================================================== */

.c-article__header {
	padding-top: 9rem;
}

@include respond-min( 830px ) {
	.c-article__header {
		text-align: center;
	}

	.c-article__heading {
		padding-bottom: $padding-small / 2;
	}
}

@include respond-min( $mq-large ) {
	.c-article__header {
		padding-top: $padding-large + 9rem;
	}
}
