/* ===========================================================

	# Buttons

=========================================================== */

.c-button {
	border-radius: $border-radius * 100;
	border-style: solid;
	border-width: $border-width;
	display: inline-block;
	font-weight: $bold;
	line-height: 1;
	padding: 1.5rem 2.5rem;
	transition: background $speed ease,
				border-color $speed ease,
				color $speed ease,
				transform $speed ease;

	.u-icon--arrow-right {
		@include icon( $white, 1rem, .8rem );
		margin-left: $padding-small / 8;
		transform: translate( 0, -.2rem );
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-button--primary {
	background: $pri;
	border-color: $pri;
	color: $white;

	&:hover,
	&:focus {
		background: $sec;
		border-color: $sec;
		color: $white;
	}
}

.c-button--secondary {
	border-color: $pri;
	color: $pri;

	.u-icon--arrow-right {
		fill: $pri;
	}

	&:hover,
	&:focus {
		background: $sec;
		border-color: $sec;
		color: $white;

		.u-icon--arrow-right {
			fill: $white;
		}
	}
}

.c-button--primary-neutral {
	border-color: $white;
	color: $white;
	position: relative;

	.u-icon--arrow-right {
		fill: $white;
	}

	&:hover,
	&:focus {
		color: $white;
	}
}

// .c-button--disabled {
// 	background: $border-colour;
// 	color: $black;
// 	cursor: not-allowed;

// 	&:hover,
// 	&:focus {
// 		color: $black;
// 	}
// }

@include respond-min( $mq-medium ) {
	.c-button {
		padding: 2rem 3rem;
	}
}

@include respond-max( $mq-large ) {
	.svg {
		.c-button__morph-shape {
			display: none;
		}
	}
}

@include respond-min( $mq-large ) {
	.svg {
		.c-button {
			border: none;
			padding: 2.5rem 3.5rem;
			position: relative;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-tap-highlight-color: transparent; /* For some Androids */
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.c-button__text {
			display: block;
			padding: .6rem;
			position: relative;
			text-align: center;
			z-index: $z-button-text;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.c-button__morph-shape {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.c-button--primary {
			background: transparent;

			.c-button__morph-shape svg {
				fill: $pri;
				transition: fill $speed ease;
			}

			&:hover,
			&:focus {
				.c-button__morph-shape svg {
					fill: $sec;
				}
			}
		}

		.c-button--secondary {
			.c-button__morph-shape svg {
				fill: none;
				stroke: $pri;
				stroke-width: $border-width * 2;
				stroke-linecap: round;
			}
		}

		.c-button--primary-neutral {
			.c-button__morph-shape svg {
				fill: none;
				stroke: $white;
				stroke-width: $border-width * 2;
				stroke-linecap: round;
			}
		}
	}
}
