/* ===========================================================

	# BUTTONS

=========================================================== */

.c-button {
	border-radius: $border-radius * 100;
	display: inline-block;
	font-weight: $bold;
	line-height: 1;
	padding: 1.5rem 2rem; // 2rem 3rem
	transition: background $speed ease,
				border-color $speed ease,
				box-shadow $speed ease,
				color $speed ease,
				transform $speed ease;

	&:focus {
		box-shadow: 0 .3rem 0 0 rgba( $black, .1 );
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-button--primary {
	background: $sec;
	color: $white;

	&:hover,
	&:focus {
		background: $pri;
		color: $white;
	}
}

.c-button--secondary {
	border: $border-width solid $sec;
	color: $sec;

	&:hover,
	&:focus {
		background: $pri;
		border-color: $pri;
		color: $white;
	}
}

.c-button--disabled {
	background: $border-colour;
	color: $black;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: $black;
	}
}

@include respond-min( $mq-medium ) {
	.c-button {
		padding: 2rem 3rem;
	}
}
