/* ===========================================================

	# Buttons

=========================================================== */

.c-button {
	border-radius: $border-radius * 100;
	display: inline-block;
	font-weight: $bold;
	line-height: 1;
	padding: 1.3rem 2rem;
	transition: background $speed ease,
				border-color $speed ease,
				color $speed ease,
				transform $speed ease;

	.u-icon--arrow-right {
		@include icon( $white, 1rem, .8rem );
		margin-left: $padding-small / 8;
		transition: fill $speed ease,
					transform $speed ease;
	}

	&:hover,
	&:focus {
		.u-icon--arrow-right {
			transform: translateX( .4rem );
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-button--primary {
	background: $pri;
	border: $border-width solid $pri;
	color: $white;

	&:hover,
	&:focus {
		background: $sec;
		border-color: $sec;
		color: $white;
	}
}

.c-button--secondary {
	border: $border-width solid $pri;
	color: $pri;

	.u-icon--arrow-right {
		fill: $pri;
	}

	&:hover,
	&:focus {
		background: $sec;
		border-color: $sec;
		color: $white;

		.u-icon--arrow-right {
			fill: $white;
		}
	}
}

.c-button--disabled {
	background: $border-colour;
	color: $black;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: $black;
	}
}

@include respond-min( $mq-medium ) {
	.c-button {
		padding: 2rem 3rem;
	}
}
