/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	// background: $pri;
	// background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.svg');
	// background-repeat: no-repeat;
	// transition: background-color $speed * 2 ease;

	// &.is-twitter {
	// 	background-color: $twitter;
	// }

	// &.is-dribbble {
	// 	background-color: $dribbble;
	// }

	// &.is-instagram {
	// 	background-color: $instagram;
	// }
	text-align: center;
}

// .c-footer__heading {
// 	color: $white;
// }

.c-footer__social {
	list-style: none;

	.u-icon {
		@include icon( $white, 2.8rem, 2.8rem );
	}
}

.c-footer__social__item {
	display: inline-block;
	margin: 0 1.5rem;
}

.c-footer__social__link {
	border: $border-width solid $white;
	border-radius: 100%;
	display: block;
	height: 5.8rem;
	padding: 1.3rem 1rem .5rem;
	position: relative;
	text-align: center;
	transition: border $speed ease;
	width: 5.8rem;
}

// @include respond-min-max( $mq-small, $mq-large ) {
// 	.c-footer {
// 		background-size: 110%;
// 	}
// }

@include respond-min( $mq-medium ) {
	.c-footer__social {
		.u-icon {
			height: 3.2rem;
			width: 3.2rem;
		}
	}

	.c-footer__social__link {
		height: 7rem;
		padding: 1.7rem 1rem .9rem;
		width: 7rem;
	}
}

@include respond-max( $mq-large ) {
	// .c-footer {
	// 	background-position: center;
	// 	text-align: center;
	// }

	.c-footer__social {
		margin-top: $line-height * 1.5;
	}
}

@include respond-min( $mq-large ) {
	// .c-footer {
	// 	background-position: left -25% center;
	// 	background-size: 50%;
	// 	position: relative;

	// 	.o-section {
	// 		@include clearfix;
	// 		padding-bottom: $padding-large + 2rem;
	// 		padding-top: $padding-large + 2rem;
	// 	}
	// }

	// .c-footer__planner {
	// 	float: left;
	// }

	.c-footer__social {
		// float: right;
		margin-top: .7rem;
	}

	.c-footer__heading {
		display: inline-block;
		margin-right: 2rem;
		padding-bottom: 0;
		transform: translateY( .5rem );
	}

	// .no-touch {
	// 	margin-bottom: 284px;

	// 	.c-footer {
	// 		bottom: 0;
	// 		position: fixed;
	// 		width: 100%;
	// 		z-index: -1;
	// 	}

	// 	&.s-home,
	// 	&.s-planner {
	// 		margin-bottom: 0;
	// 	}
	// }
}

@include respond-min( $mq-x-large ) {
	// .c-footer__heading {
	// 	margin-right: 4rem;
	// }

	.c-footer__social__item {
		margin: 0 2rem;
	}
}
