/* ===========================================================

	# Header

=========================================================== */

.c-header {
	transition: background $speed ease,
				transform $speed ease;
	width: 100%;
	z-index: 30;
}

.c-header__inner {
	@include clearfix;
	padding-top: $padding-small / 2;
}

.u-icon--logo {
	@include icon( $pri, 4rem, 4rem );
	margin-bottom: -.8rem;
}

.u-icon--menu {
	@include icon( $dark-3, 1.6rem, 1.6rem );
}

.no-enhance {
	.c-header__toggle-menu-button {
		display: none;
	}
}

.enhance {
	.c-header {
		position: fixed;
	}
}

@include respond-max( $mq-small ) {
	.c-header__logo {
		padding: 0 $padding-small / 2;
	}

	.c-header__toggle-menu-button {
		padding-right: $padding-small / 2;
	}
}

@include respond-min-max( $mq-small, $mq-large ) {
	.c-header__logo {
		padding: 0 $padding-small;
	}

	.c-header__toggle-menu-button {
		padding-right: $padding-small;
	}
}

@include respond-max( $mq-large ) {
	.c-header {
		// background: $background-colour;
	}

	.c-header__inner {
		// background: $background-colour;
		padding-top: 1.5rem;
	}

	.c-header__logo {
		display: inline-block;
		width: 80%;
	}

	.c-header__toggle-menu-button {
		height: 100%;
		padding-bottom: 1.5rem;
		padding-left: $padding-small / 2;
		padding-top: $padding-small / 2;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		width: 20%;
		z-index: 10;

		.flexbox & {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	.enhance {
		.c-header__inner {
			padding-bottom: 1.5rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-header__inner {
		padding: $padding-small / 2 $padding-small;
	}

	.c-header__logo {
		float: left;
	}

	.u-icon--logo {
		height: 4.8rem;
		width: 4.8rem;
	}

	.c-header__toggle-menu-button {
		display: none;
	}
}
