/* ===========================================================

	# Header

=========================================================== */

.c-header {
	background: $dark-1;
	transition: background $speed ease,
				transform $speed ease;
	width: 100%;
	z-index: 30;
}

.c-header__inner {
	@include clearfix;
	padding-top: 2rem;
}

.u-icon--logo {
	@include icon( $pri, 4rem, 4rem );
	margin-bottom: -.8rem;
	transition: transform $speed ease;
}

.u-icon--menu {
	@include icon( $white, 1.6rem, 1.6rem );
}

.no-enhance {
	.c-header {
		position: absolute;
		top: 0;
	}

	.c-header__toggle-menu-button {
		display: none;
	}
}

.enhance {
	.c-header {
		position: fixed;
		top: 0;
	}
}

@include respond-max( $mq-large ) {
	.c-header {
		text-align: center;
	}

	.c-header__inner {
		background: $dark-1;
		padding-top: 1.5rem;
	}

	.c-header__logo {
		display: inline-block;
		padding: 0 2rem;
		width: 60%;
	}

	.c-header__toggle-menu-button {
		height: 100%;
		padding: 2rem 2rem 1.5rem;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		width: 20%;
		z-index: 10;

		.flexbox & {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	.enhance {
		.c-header__inner {
			padding-bottom: 1.5rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.c-header__inner {
		padding: 2rem 4rem;
	}

	.c-header__logo {
		float: left;
	}

	.u-icon--logo {
		height: 4.8rem;
		width: 4.8rem;
	}

	.c-header__toggle-menu-button {
		display: none;
	}
}
