/* ===========================================================

	# Header

=========================================================== */

.c-header {
	position: absolute;
	top: 0;
	transition: background $speed ease,
				transform $speed ease;
	width: 100%;
	z-index: $z-header;
}

.c-header__inner {
	@include clearfix;
	padding-top: 2rem;
}

.u-icon--logo {
	@include icon( $white, 4rem, 4rem );
	margin-bottom: -.8rem;
	transition: fill $speed ease,
				transform $speed ease; //@todo getting overriden
}

.c-header--colour {
	.u-icon--logo {
		fill: $pri;
	}

	.u-icon--menu__top,
	.u-icon--menu__middle,
	.u-icon--menu__bottom {
		background: $dark-3;
	}
}

.no-enhance {
	.c-header__toggle-menu-button {
		display: none;
	}
}

.enhance {
	.c-header {
		position: fixed;
	}
}

@include respond-max( $mq-large ) {
	.c-header__inner {
		padding-top: 1.5rem;
	}

	.c-header__logo {
		display: inline-block;
		padding: 0 2rem;
		width: 60%;
	}

	.c-header__toggle-menu-button {
		height: 100%;
		padding: 2rem 2rem 1.5rem;
		position: absolute;
		right: 0;
		text-align: right;
		transform: scale( 1 );
		top: 0;
		width: 20%;
		z-index: 10;
	}

	.u-icon--menu {
		height: 1.4rem;
		position: relative;
		width: 1.8rem;
	}

	.u-icon--menu__top,
	.u-icon--menu__middle,
	.u-icon--menu__bottom {
		background: $white;
		border-radius: $border-radius;
		display: block;
		height: .2rem;
		position: absolute;
		width: 1.8rem;
	}

	.u-icon--menu__top {
		top: 0;
		transform-origin: 1.7rem .1rem;
	}

	.u-icon--menu__bottom {
		bottom: 0;
		transform-origin: 1.7rem .1rem;
	}

	.u-icon--menu__middle {
		top: .6rem;
	}

	.c-nav-is-visible {
		.u-icon--menu__top {
			animation: menu-top-out $speed * 2 linear normal;
			animation-fill-mode:forwards;
		}

		.u-icon--menu__bottom {
			animation: menu-bottom-out $speed * 2 linear normal;
			animation-fill-mode:forwards;
		}

		.u-icon--menu__middle {
	    	animation: menu-middle-out $speed * 2 linear normal;
	    	animation-fill-mode:forwards;
	  	}
	}

	.c-nav-is-hidden {
		.u-icon--menu__top {
			animation: menu-top-in $speed * 2 linear normal;
			animation-fill-mode:forwards;
		}

		.u-icon--menu__bottom {
			animation: menu-bottom-in $speed * 2 linear normal;
			animation-fill-mode:forwards;
		}

		.u-icon--menu__middle {
			animation: menu-middle-in $speed * 2 linear normal;
			animation-fill-mode:forwards;
		}
	}

	.flexbox {
		.c-header__toggle-menu-button {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	.enhance {
		.c-header__inner {
			padding-bottom: 1.5rem;
		}

		&.c-nav-is-visible {
			.u-icon--logo {
				fill: $pri;
			}

			.u-icon--menu__top,
			.u-icon--menu__middle,
			.u-icon--menu__bottom {
				background: $dark-3;
			}
		}

		&.c-nav-is-hidden {
			.u-icon--logo,
			.u-icon--menu__top,
			.u-icon--menu__middle,
			.u-icon--menu__bottom {
				transition-delay: $speed * 1.5;
			}
		}
	}
}

@include respond-min( $mq-large ) {
	.c-header__inner {
		padding: 2rem 4rem;
	}

	.c-header__logo {
		float: left;
	}

	.u-icon--logo {
		height: 4.8rem;
		width: 4.8rem;
	}

	.c-header__toggle-menu-button {
		display: none;
	}
}
