/* ===========================================================

	# HERO

=========================================================== */

.c-hero__content__footer {
	margin-top: $line-height;
}

@include respond-max( $mq-large ) {
	.c-hero {
		padding-top: 6.8rem;
	}

	.c-hero__scroll-btn {
		display: none;
	}
}

@include respond-min( $mq-large ) {
	.c-hero__row {
		overflow: hidden;
	}

	.c-hero__content,
	.c-hero__figure {
		float: left;
		width: 50%
	}


	// @todo prefix under cssvhunit
	.c-hero {
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.c-hero__scroll-btn {
		border: $border-width solid $dark-1;
		border-radius: 100%;
		bottom: 4rem;
		color: $dark-1;
		height: 4.8rem;
		opacity: .5;
		padding: 1rem;
		line-height: 1;
		position: absolute;
		text-align: center;
		transition: opacity $speed ease;
		right: 4rem;
		width: 4.8rem;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.c-page__content {
		background: $light-1;
		height: 0;
		margin-top: 100vh;
		overflow: hidden;
		position: relative;

		&.is-visible {
			height: auto;
			overflow: scroll;
		}
	}

	.flexbox {
		.c-hero {
			align-items: center;
			display: flex;
		}
	}
}
