/* ===========================================================

	# Listing

=========================================================== */

.c-listing__link {
	color: $text-colour;
	display: block;
	padding: 3rem $padding-small / 2;
	transition: background-color $speed ease,
				transform $speed ease;

	&:hover,
	&:focus {
		color: $text-colour;
	}

	&:hover,
	&:focus {
		background-color: $sec;

		.u-highlight-text {
			color: $text-colour;
		}

		.c-listing__meta-data {
			color: $white;
		}

		.c-listing__visited-badge {
			background: $white;

			.u-icon {
				fill: $sec;
			}
		}

		.c-listing__heading {
			color: $white;
		}

		.c-listing__description {
			color: $white;
			color: rgba( $white, .75 );
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

.c-listing__list-meta {
	list-style: none;
}

.c-listing__meta-data {
	color: $dark-3;
	list-style: none;
	line-height: 1;
	transition: color $speed ease;
}

.c-listing__meta-data__item {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: $bold;
	line-height: 1;
	margin: 0 0 $line-height 0;

	& + & {
		margin-left: $padding-small / 4;
	}
}

.c-listing__visited-badge {
	background: $pri;
	border-radius: 100%;
	display: inline-block;
	height: 2rem;
	padding: .2rem .5rem;
	transition: background $speed ease;
	width: 2rem;

	.u-icon {
		@include icon( $white, 1rem, 1rem );
		transition: fill $speed ease;
	}
}

.c-listing__heading {
	margin-top: 0;
	padding-top: 0;
	transition: color $speed ease;

	.u-highlight-text {
		transition: color $speed ease;
	}
}

.c-listing__description {
	transition: color $speed ease;
}

@include respond-max( $mq-small ) {
	.c-listing__link {
		margin-left: -$padding-small / 2;
		margin-right: -$padding-small / 2;
	}
}

@include respond-min( $mq-small ) {
	.c-listing__meta-data__item--large {
		font-size: $font-size-large / $type-scale-medium;

		& + & {
			margin-left: $padding-small / 2;
		}
	}
}

@include respond-min( $mq-medium ) {
	.c-listing__meta-data__item--large {
		font-size: $font-size-large / $type-scale-large;
	}
}

@include respond-min-max( $mq-small, $mq-x-large ) {
	.c-listing__link {
		margin-left: -$padding-small;
		margin-right: -$padding-small;
		padding: 3rem $padding-small;
	}
}

@include respond-min( 830px ) {
	.c-listing__meta-data__item--large {
		margin-bottom: $line-height * 2;
	}
}

@include respond-min( $mq-large ) {
	.c-listing__link {
		padding: $padding-small;
	}
}
