/* ===========================================================

	# Nav

=========================================================== */

.c-nav__list {
	list-style: none;
}

.c-nav__item {
	font-weight: $bold;
	margin: 0;
}

.c-nav__link {
	color: $dark-3;
	transition: background $speed ease,
				color $speed ease,
				transform $speed ease;

	.u-icon {
		@include icon( rgba( $dark-3, .75 ), 1.6rem, 1.6rem );
	}

	// &:hover,
	// &:focus {
	// 	color: $ter;

	// 	.u-icon {
	// 		fill: $ter;
	// 	}
	// }

	// &.is-active {
	// 	color: $ter;

	// 	.u-icon {
	// 		fill: $ter;
	// 	}
	// }
}

.c-nav__link--button {
	color: $white;
	position: relative;

	.u-icon {
		fill: $white;
	}

	// &:hover,
	// &:focus {
	// 	.u-icon {
	// 		fill: $white;
	// 	}
	// }

	// &:active {
	// 	transform: $active-scale-small;
	// }
}

.c-header--colour {
	.c-nav__link {
		color: $dark-3;

		.u-icon {
			fill: rgba( $dark-3, .75 );
		}
	}

	.c-nav__link--button {
		color: $white;

		.u-icon {
			fill: $white;
		}
	}
}

@include respond-max( $mq-medium ) {
	.c-nav__link {
		.u-icon {
			margin: .3rem 0;
		}
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-nav__item {
		.u-icon {
			margin: .6rem 0;
		}
	}
}

@include respond-max( $mq-large ) {
	.c-nav__link {
		display: block;
		padding: 1rem 2rem;
		text-align: left;

		.u-icon {
			float: right;
		}
	}

	.enhance {
		.c-nav {
			animation-duration: $speed * 2;
			animation-fill-mode: both;
			background: $light-1;
			display: block;
			left: 0;
			padding-top: 9rem;
			position: absolute;
			top: 0;
			transform: translateY( -100% );
			width: 100%;
			z-index: -1;
		}

		&.c-nav-is-visible {
			.c-nav {
				animation-name: nav-bounce-in-down;
			}
		}

		&.c-nav-is-hidden {
			.c-nav {
				animation-name: nav-bounce-out-up;
			}
		}
	}
}

@include respond-min( $mq-large ) {
	.c-nav__item {
		float: left;
	}

	.c-nav__menu {
		padding-left: 4.8rem;
		width: 100%;
	}

	.c-nav__list {
		@include clearfix;

		& > :first-child {
			padding-left: 2rem;
		}
	}

	.c-nav__item--align-right {
		float: right;
	}

	.c-nav__link {
		color: $white;
		display: block;
		padding: .9rem 2rem;

		.u-icon {
			fill: rgba( $white, .75 );
		}
	}

	.c-nav__link--button {
		border-radius: $border-radius * 10;
		color: $text-colour;
		margin-bottom: -.6rem;
		margin-top: -.6rem;

		.u-icon {
			fill: $text-colour;
		}
	}

	.svg {
		.c-nav__link--button {
			margin-right: -.7rem;

			.c-button__morph-shape svg {
				fill: $white;
			}

			&:hover {
				.c-button__morph-shape  svg {
					fill: $white;
				}
			}
		}

		.c-header--colour {
			.c-nav__link--button {
				.c-button__morph-shape svg {
					fill: $pri;
				}

				&:hover {
					.c-button__morph-shape  svg {
						fill: $sec;
					}
				}
			}
		}
	}
}
