/* ===========================================================

	# Nav

=========================================================== */

.c-nav {
	background: $dark-1;
}

.c-nav__list {
	list-style: none;
}

.c-nav__item {
	font-weight: $bold;
	margin: 0;
}

.c-nav__link {
	color: $white;
	transition: background $speed ease,
				color $speed ease,
				transform $speed ease;

	.u-icon {
		@include icon( rgba( $white, .75 ), 1.6rem, 1.6rem );
	}

	&:hover,
	&:focus {
		.u-icon {
			fill: $sec;
		}
	}

	&.is-active {
		color: $ter;

		.u-icon {
			fill: $ter;
		}
	}
}

.c-nav__link--button {
	position: relative;

	.u-icon {
		fill: $white;
	}

	&:hover,
	&:focus {
		.u-icon {
			fill: $white;
		}
	}

	&:active {
		transform: $active-scale-small;
	}
}

@include respond-max( $mq-medium ) {
	.c-nav__link {
		.u-icon {
			margin: .3rem 0;
		}
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.c-nav__item {
		.u-icon {
			margin: .6rem 0;
		}
	}
}

@include respond-max( $mq-large ) {
	.c-nav__link {
		display: block;
		padding: 1rem 2rem;
		text-align: left;

		.u-icon {
			float: right;
		}
	}

	.enhance {
		.c-nav {
			animation-duration: $speed * 1.5;
			animation-fill-mode: both;
			// background: $background-colour; @todo add when toggle nav
			display: block;
			left: 0;
			// padding-bottom: $padding-small / 4;
			padding-top: $padding-small / 2;
			position: absolute;
			top: 0;
			transform: translateY( -100% );
			transition: transform $speed ease;
			width: 100%;
			z-index: -1;

			&.is-visible {
				animation-name: navBounceInDown;
			}

			&.is-hidden {
				animation-name: navBounceOutUp;
			}
		}
	}
}

@include respond-min( $mq-large ) {
	.c-nav__item {
		float: left;
	}

	.c-nav__menu {
		padding-left: 4.8rem;
		width: 100%;
	}

	.c-nav__list {
		@include clearfix;

		& > :first-child {
			padding-left: 2rem;
		}
	}

	.c-nav__item--align-right {
		float: right;
	}

	.c-nav__link {
		display: block;
		padding: .9rem 2rem;
	}

	.c-nav__link--button {
		border-radius: $border-radius * 10;
		margin-bottom: -.6rem;
		margin-top: -.6rem;
	}
}
