/* ===========================================================

	# ANCHOR

=========================================================== */

//@todo move this out?
.s-free-content {
	a {
		border-bottom: $border-width solid rgba( $pri, 0);
		color: $link-colour;
		padding-bottom: .4rem;
		transition: border $speed ease,
					color $speed ease,
					padding $speed ease,
					transform $speed ease;

		&:hover,
		&:focus {
			border-bottom: $border-width solid $pri;
			color: $link-colour-hover;
			padding-bottom: 0;
		}

		&:active {
			transform: $active-scale-medium;
		}
	}
}
