<div class="o-form__field">
	<label class="o-label" for="{{for}}">{{{label}}} {{#if optional}}<span class="o-label__note">Optional</span>{{/if}}</label>
	<textarea class="o-textarea" id="{{for}}" cols="30" rows="8" placeholder="{{placeholder}}"></textarea>
	<span class="o-validation">Please enter a value</span>
</div>
