---
title: Planner
pageClass: s-planner
---

{{>page-heading planner.page-heading}}

<div class="o-section o-wrap o-wrap--large">
	{{> input planner.name}}
	{{> input planner.company}}
	{{> input planner.email}}
	{{> checkbox planner.services}}
	{{> checkbox planner.designOrCode}}
	{{> input planner.website}}
	{{> radio planner.pages}}
	{{> textarea planner.about}}
	{{> radio planner.deadline}}
	{{> radio planner.budget}}
</div>