---
title: Planner
pageClass: s-planner
---

{{>page-heading planner.page-heading}}

<form class="o-section o-wrap o-wrap--medium">
	{{> input planner.name}}
	{{> input planner.company}}
	{{> input planner.email}}
	{{> checkbox planner.services}}
	{{> checkbox planner.designOrCode}}
	{{> input planner.website}}
	{{> radio planner.pages}}
	{{> textarea planner.about}}
	{{> radio planner.deadline}}
	{{> radio planner.budget}}

	<input type="submit" class="c-button c-button--secondary" value="Send">
</form>

{{>footer footer}}