<div class="o-wrap o-wrap--x-large c-dribbble-shots" data-module="Inview">
	<div class="c-dribbble-shots__row" data-module="DribbbleShots">
		{{#each item}}
			{{> dribbble-shot}}
		{{/each}}
	</div>
</div>