/* ===========================================================

	# Case Study - Figure

=========================================================== */

.c-case-study__section__figure {
	padding-top: $padding-small / 2;
}

@include respond-min( $mq-small ) {
	.c-case-study__section__figure {
		padding-top: $padding-medium / 2;
	}
}

@include respond-min( $mq-medium ) {
	.c-case-study__section__figure {
		padding-top: $padding-large / 2;
	}
}
