/* ===========================================================

	# AdSpy - Base

=========================================================== */

.s-case-study-adspy {
	.c-header,
	.c-header__inner,
	.c-nav {
		background: $adspy-pri-light;
		background: transparent;
	}

	.c-case-study {
		.u-highlight-text {
			color: $adspy-pri;
		}
	}
}
