/* ===========================================================

	# AdSpy - Colours

=========================================================== */

.c-case-study__colours__colour--pri {
	background: $adspy-pri;
	background: linear-gradient( to right, $adspy-pri 50%, darken( $adspy-pri, 3 ) 50% );
}

.c-case-study__colours__colour--sec {
	background: $adspy-sec;
	background: linear-gradient( to right, $adspy-sec 50%, darken( $adspy-sec, 3 ) 50% );
}

.c-case-study__colours__colour--ter {
	background: $adspy-ter;
	background: linear-gradient( to right, $adspy-ter 50%, darken( $adspy-ter, 5 ) 50% );
}

@include respond-min( $mq-animate ) {
	.csstransitions.csstransforms {
		.c-case-study__colours__colour {
			opacity: 0;
			transform: scale( .5 );
			transition: opacity $speed * 2 ease,
						transform $speed * 2 ease;
		}

		.c-case-study__colours__colour:nth-child( 2 ) {
			transition-delay: $speed;
		}

		.c-case-study__colours__colour:nth-child( 3 ) {
			transition-delay: $speed * 2;
		}

		.is-inview {
			.c-case-study__colours__colour {
				opacity: 1;
				transform: scale( 1 );
			}
		}
	}
}
