/* ===========================================================

	# Page - Heading (make this hero)

=========================================================== */

.o-page-heading {
	padding-top: $padding-small * 1.5;
}

.o-page-heading__description {
	color: $dark-3;
}

@include respond-max( $mq-small ) {
	.o-page-heading__figure {
		padding-top: $padding-small / 2;
	}
}

@include respond-min( $mq-small ) {
	.o-page-heading {
		padding-top: $padding-medium * 1.5;
	}
}

@include respond-min-max( $mq-small, $mq-medium ) {
	.o-page-heading__figure {
		padding-top: $padding-medium / 2;
	}
}

@include respond-min-max( $mq-medium, $mq-large ) {
	.o-page-heading__figure {
		padding-top: $padding-large / 2;
	}
}

@include respond-max( $mq-large ) {
	.o-page-heading__figure {
		margin: 0 auto;
		max-width: 54rem;
	}
}

@include respond-min( $mq-large ) {
	.o-page-heading--center-content {
		text-align: center;
	}

	.o-page-heading--two-col {
		.o-page-heading__row {
			@include clearfix;
		}

		.o-page-heading__content {
			float: left;
			width: 50%;
		}
		.o-page-heading__figure {
			float: right;
			width: 45%;
		}

		.u-word-wrap {
			display: block;
		}
	}
}

@include respond-min( $mq-x-large ) {
	.o-page-heading {
		padding-top: $padding-large * 1.5;
	}
}
