/* ===========================================================

	# Blog

=========================================================== */

.s-blog {
	.c-hero {
		min-height: 0;

		.o-section {
			padding-bottom: 0;
		}
	}

	@include respond-min( $mq-medium ) {
		.c-hero {
			.u-highlight-text {
				display: block;
			}
		}
	}

	@include respond-min( $mq-large ) {
		.c-hero__figure {
			padding-left: 5%;
		}
	}
}
