/* ===========================================================

	# Home

=========================================================== */

.s-home {
	.c-hero {
		background-color: $pri;
		background-image: url( '#{$images}/case-studies/geckotree/geckotree-logo.svg');
		background-position: center bottom -7.5rem;
		background-repeat: no-repeat;
		background-size: 150%;
	}

	&.cssanimations {
		.c-hero__heading,
		.c-hero__description,
		.c-hero__cta {
			animation: fade-in-up $speed * 2 backwards;
		}

		.c-hero__heading {
		  	animation-delay: .3s;
		}

		.c-hero__description {
		  	animation-delay: .4s;
		}

		.c-hero__cta {
		  	animation-delay: .5s;
		}
	}

	@include respond-min( $mq-medium ) {
		.c-hero {
			background-position: right -20rem bottom -12.5rem;
			background-size: 125%;
		}
	}

	@include respond-min( $mq-large ) {
		.c-hero {
			background-position: right -20rem center;
			background-size: 80%;
		}
	}

	@include respond-min( $mq-large ) {
		.c-nav__link--button {
			color: $pri;

			.u-icon {
				fill: $pri;
			}
		}

		.c-header--colour {
			.c-nav__link--button {
				color: $white;

				.u-icon {
					fill: $white;
				}
			}
		}
	}
}
