/* ===========================================================

	# Work

=========================================================== */

.s-work {
	.c-hero {
		background-color: $adspy-pri;
		background-image: url( '#{$images}/case-studies/adspy/adspy-logo.svg');
		background-position: center bottom -10rem;
		background-repeat: no-repeat;
		background-size: 150%;
	}

	&.cssanimations {
		.c-hero__heading,
		.c-hero__meta,
		.c-hero__description,
		.c-hero__cta {
			animation: fade-in-up $speed * 2 backwards;
		}

		.c-hero__heading {
		  	animation-delay: .3s;
		}

		.c-hero__meta {
		  	animation-delay: .4s;
		}

		.c-hero__description {
		  	animation-delay: .5s;
		}

		.c-hero__cta {
		  	animation-delay: .6s;
		}
	}

	@include respond-min( $mq-small ) {
		.c-hero {
			background-size: 125%;
		}
	}

	@include respond-min( $mq-medium ) {
		.c-hero {
			background-position: right -20rem center;
			background-size: 110%;
		}
	}

	@include respond-min( $mq-large ) {
		.c-hero {
			background-position: right -25% center;
			background-size: 65%;
		}
	}

	@include respond-min( $mq-large ) {
		.c-nav__link--button {
			color: $adspy-pri;

			.u-icon {
				fill: $adspy-pri;
			}
		}

		.c-header--colour {
			.c-nav__link--button {
				color: $white;

				.u-icon {
					fill: $white;
				}
			}
		}
	}
}
